@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

menu button {
    background-color: blueviolet;
    border: none;
    border-radius: 12px;
    margin-left: 20px;
    margin-top: 30px;
    padding: 16px;    
    font-size: 20px;
}

menu button.active {
    background-color: white;
}

menu button:hover {
    background-color: white;
}

#tab-content {
    padding: 25px;
    font-size: 40px;
}

#dynamic-p {
    margin: 10px;
    font-size: 40px;
}

#lorem {
    font-family: 'Cedarville Cursive';
    background-color: blueviolet;
    border-radius: 22px;
    padding: 40px;
    font-size: 35px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 12px;
}